/* This CSS file contains the styles for the 'App Component' */
* {
  text-align: center;
  box-sizing: border-box;
}

.main-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: 20px auto;

  font-size: 18px;
  color: white;

  border: none;
  outline: none;
  box-shadow: 0 2px 4px grey;
  border-radius: 10px;

  background-color: orange;

  transition: background-color .3s;

  position: relative;
  overflow: hidden;
}

.main-btn:hover, .main-btn:focus {
  background-color: darkorange;
}

/* 1st Approach without using CSS animations */
/* .main-btn::before {
  content: "";
  width: 0;
  padding-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.466);
  display: block;
}

.main-btn:focus:not(:active)::before {
  width: 120%;
  padding-top: 120%;

  transition: width .15s ease-out, padding-top .15s ease-out;
} */

/* 2nd Approach for the Ripple-effect using animations */
.main-btn::after {
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.466);
  opacity: 0;
  transform: translate(-50%, -50%), scale(1,1);
}

.main-btn:focus:not(:active)::after {
  transition: ripple .2s ease-out;
}

/* Animation for the 'Ripple-effect' */
@keyframes ripple {
  0% {
    transform: scale(0,0);
    opacity: 1;
  }

  25% {
    transform: scale(25, 25);
    opacity: 1;
  }

  100% {
    transform: scale(40, 40);
    opacity: 0;
  }
}